@typeparam TItem

<table class="table">
    <thead>
    <tr>@TableHeader</tr>
    </thead>
    <tbody>
    @foreach (var item in Items)
    {
        <tr>@RowTemplate(item)</tr>
    }
    </tbody>
</table>

@code {
    [Parameter] public IEnumerable<TItem> Items { get; set; } = Array.Empty<TItem>();
    [Parameter] public RenderFragment TableHeader { get; set; } = default!;
    [Parameter] public RenderFragment<TItem> RowTemplate { get; set; } = default!;
}